extends layout

block content
  h1(style="text-align: center")= title
  hr
  br

  .btn-group.btn-group-justified(role='group', aria-label='...')
    .btn-group(role='group')
      a.btn.btn-default(type='button', href="/manageBadges") Manage badges
    .btn-group(role='group')
      a.btn.btn-default(type='button', href="/manageRewards") Manage rewards
    .btn-group(role='group')
      a.btn.btn-default(type='button', href="/showLeaderboard") Show leaderboard

  br
    
  h2 List of end users
  table.table.table-striped.table-responsive
    thead
      th #
      th Firstname
      th Lastname
      th Score
      th Actions
    tbody
      each endUser in endUsers
        tr
          td= endUser.id
          td= endUser.firstname
          td= endUser.lastname
          td= endUser.score
          td
            a(href="#") Badges
            span  - 
            a(href="#") rewards