extends layout

block content
  h1(style="text-align: center")= title
  hr
  br

  .btn-group.btn-group-justified(role='group', aria-label='...')
    .btn-group(role='group')
      a.btn.btn-default(type='button', href="/") Manage users
    .btn-group(role='group')
      a.btn.btn-default(type='button', href="/manageBadges") Manage badges
    .btn-group(role='group')
      a.btn.btn-default(type='button', href="/manageRewards") Manage rewards
    .btn-group(role='group')
      a.btn.btn-default(type='button', href="/showLeaderboard") Show leaderboard
    
  h2 Leaderboard
  table.table.table-striped.table-responsive
    thead
      th #
      th Firstname
      th Lastname
      th Score
    tbody
      - var i = 0
      each endUser in leaderboard
        tr
          td= endUser.id
            if i == 0
              img(src="https://cdn0.iconfinder.com/data/icons/gamification-flat-awards-and-badges/500/crown1-512.png" width="50px" style="padding-left: 20px")
            else if i == leaderboard.length - 1
              img(src="http://www.flashlet.com/uploads/2/0/6/9/20695664/7228077_orig.png" width="50px" style="padding-left: 20px")
          td= endUser.firstname
          td= endUser.lastname
          td= endUser.score
        - i++