extends layout

block content
  h1(style="text-align: center")= title
  hr
  br
    
  h2 Leaderboard
  table.table.table-striped.table-responsive
    thead
      th #
      th Firstname
      th Lastname
      th Score
    tbody
      each endUser in leaderboard
        tr
          td= endUser.id
          td= endUser.firstname
          td= endUser.lastname
          td= endUser.score