extends layout

block content
  h1(style="text-align: center")= title
  hr
  br
    
  h2 Badges
  table.table.table-striped.table-responsive
    thead
      th #
      th Name
      th Description
      th Image
      th Category
      th Actions
    tbody
      each badge in badges
        tr
          td= badge.id
          td= badge.name
          td= badge.description
          td
            img(src="#{badge.image}", width="50px")
          td= badge.category
          td
            a(href="#") Edit
            span  -  
            a(href="#") Delete  